  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Congratulations!</h4>
      <p><strong>@Context.Request.Query["message"]</strong></p>
      <hr>
    </div>
    <a asp-action="index" asp-controller="user" class="btn btn-success">Continue</a>
  </div>